<div class="container">
    <br />
    <h4>Motion Segmentation Example</h4>
    <br />
    
    <div>
        <p>
            This work is about "Motion Segmentation".
        </p>
        <br />
        <p>
            Here we can see a video of people walking/chatting in a square (Original Video), the
            "Processing" and the final result with the motion detected (in red with its centroid in light blue).
        </p>
        <p>
            In the downer section we can see the video from "YouTube".
        </p>
    </div>

    <img src="~/pics/motseg.png" />
    
    <hr />

    <br />
    <p>
        "Click to Play"
    </p>

    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/YuAUGhEY_58?si=Yu82FwGDYQEMf8Kr"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
    </iframe>
</div>