<h3>Reportes</h3>
<br />
<br />

<div>
    <input type="button" class="btn btn-sm btn-primary" value="Reporte Atrasos" />
    <br /><br />
    <input type="button" class="btn btn-sm btn-primary" value="Reporte Mensual" />

</div>


